services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile
      target: builder
    ports:
      - "4200:4200"
    volumes:
      - ./:/project
      - /project/node_modules
    working_dir: /project
